<div class="butterfly-details">
    <h2>{{butterfly.name}}</h2>
    <em>{{butterfly.scientific-name}}</em>
    <p>{{butterfly.description}}</p>
</div>

<a href="/" class="back-link">← Back to the list</a>
